<div class="container" *ngIf="ObservationsList && ObservationsList.length > 0">
    <div class="row p-5">
      <!-- Iterar sobre la lista dinámica de observaciones -->
      <div class="mb-3" *ngFor="let item of ObservationsList; let i = index">
        <label class="form-label">{{item.description}}</label> 
        <div>
          <!-- Checkbox para seleccionar "Sí" -->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="'yes_' + i" 
                   [checked]="item.value === 'si'" (change)="onCheckboxChange(i, 'si')">
            <label class="form-check-label" [for]="'yes_' + i">Sí</label>
          </div>
          <!-- Checkbox para seleccionar "No" -->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [id]="'no_' + i" 
                   [checked]="item.value === 'no'" (change)="onCheckboxChange(i, 'no')">
            <label class="form-check-label" [for]="'no_' + i">No</label>
          </div>
        </div>
      </div>
  
      <!-- Otra observación campo abierto -->
      <div class="mb-3">
        <label for="other_observation" class="form-label">Otra observación</label><br>
        <textarea id="other_observation" name="other_observation" [(ngModel)]="observation"
                  rows="9" (input)="changeObservationData()"></textarea>
      </div>
    </div>
  </div>
  