
<div class="container mt-3"  [hidden]="currency==2">
    <div class="row">
        <!-- Botón para abrir modal de productos -->
        <div class="col-12">
            <button type="button" class="btn btn-primary w-100 addService" (click)="addNewService()">
                <i class="fas fa-plus"></i> Agregar Servicio
            </button>
        </div>
        <div class="col-12 mt-3">
            <form>
            <table class="table table-bordered table-dark">
                <tbody id="service_table">
                    <tr *ngFor="let service of services; let i = index">
                        <td>
                            <label class="form-label">Descripción</label>
                            <textarea [(ngModel)]="service.description" name="service_description_{{i}}" rows="9" placeholder="Descripción de servicio"></textarea>
                        </td>
                        <td>
                            <div>
                                <label class="form-label">Precio</label>
                                <input type="number" class="form-control" [(ngModel)]="service.price" name="service_price_{{i}}" placeholder="Precio" required (input)="calculateTotalS(service)" >
                            </div>
                            <div>
                                <label class="form-label">Unidad</label>
                                <input type="text" class="form-control" [(ngModel)]="service.unit" name="service_unit_{{i}}" placeholder="Unidad" required>
                            </div>
                        </td>
   
                        <td>
                            <div>
                                <label class="form-label">Cantidad</label>
                                <input type="number" class="form-control" [(ngModel)]="service.quantity" name="service_quantity_{{i}}" placeholder="Cantidad" required (input)="calculateTotalS(service)">
                            </div>
                            <div>
                                <label class="form-label">Subtotal</label>
                                <input type="number" class="form-control" [(ngModel)]="service.subtotal" name="service_subtotal_{{i}}" readonly> 
                            </div>
                            <div class="mt-4">
                                <button type="button" class="btn btn-danger btn-remove" style="width: 100%;" (click)="removeService(i)">Eliminar</button>
                            </div>
                        </td>
                       
                    </tr>
                </tbody>
            </table>
        </form>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="m-2 text-end" [hidden]="hideFields">
                <label for="delivery_cost" class="form-label">Administración (%)</label>
                <input type="number" class="form-control bg-dark text-white text-end"  [(ngModel)]="AIU.adminPercentage" (input)="calculatePercentageValue()">
                <small>Valor: {{AIU.adminValue}}</small>
            </div>
            <div class="m-2 text-end" [hidden]="hideFields">
                <label for="delivery_cost" class="form-label">Imprevistos (%)</label>
                <input type="number" class="form-control bg-dark text-white text-end" [(ngModel)]="AIU.unforeseenPercentage" (input)="calculatePercentageValue()">
                <small>Valor: {{AIU.unforeseenValue}}</small>
            </div>
            <div class="m-2 text-end" [hidden]="hideFields">
                <label for="delivery_cost" class="form-label">Utilidades (%)</label>
                <input type="number" class="form-control bg-dark text-white text-end"   [(ngModel)]="AIU.profitPercentage" (input)="calculatePercentageValue()">
                <small>Valor: {{AIU.profitValue}}</small>
            </div>
            <div class="m-2 text-end" [hidden]="hideFields">
                <label for="delivery_cost" class="form-label">IVA (19% Utilidades)</label>
                <input type="number" class="form-control bg-dark text-white text-end" readonly [(ngModel)]="services_iva" >
            </div>
        </div>
        
       

        <div class="col-12 mt-3" [hidden]="hideFields">
            <h5>Total de Servicios: 
                <input type="number" value="000" id="total_services" [(ngModel)]="total_services" [ngModelOptions]="{standalone: true}" readonly
                       class="form-control bg-dark text-white text-center w-100" style="font-size: 1.25rem; padding: 0.5rem;">
            </h5>
        </div>

    </div>
</div>