<div class="centered-container">
    <div class="login-form">
        <h2 class="text-center">Iniciar Sesión</h2>
        <form (ngSubmit)="login()">
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password"  [(ngModel)]="password"  [ngModelOptions]="{standalone: true}"required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>